@import "./Assets/styles/tailwind.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: SF Mono;
  font-size: 17px;
  line-height: 1.5rem;
  color: rgb(0, 122, 255);
}

.underline-link {
  position: relative;
  display: inline-block;
}

.underline-link:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(247, 247, 245);
  content: "";
  opacity: 0;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transform: translateY(-5px);
}

.underline-link:focus:after,
.underline-link:hover:after {
  height: 1px;
  border-radius: 4px;
  opacity: 1;
  transform: translateY(-2px);
}
