@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/sf-pro-text-regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("../fonts/sf-pro-text-medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display-regular.woff2") format("woff2");
}
@font-face {
  font-family: "SF Pro Display Medium";
  src: url("../fonts/sf-pro-display-medium.woff2") format("woff2");
}
@font-face {
  font-family: "SF Mono";
  src: url("../fonts/sf-mono.woff2") format("woff2");
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    font-family: "SF Pro Text";
  }
  h1 {
    font-family: "SF Pro Display";
  }
  code {
    font-family: "SF Mono";
  }
}
